@font-face {
  font-family: 'SohneWeb';
  font-weight: 400;
  font-style: normal;
  src: url('./assets/fonts/SohneWeb-Mager.eot');
  src: url('./assets/fonts/SohneWeb-Mager.eot?#iefix') format('embedded-opentype'), url('./assets/fonts/SohneWeb-Mager.woff2') format('woff2'), url('./assets/fonts/SohneWeb-Mager.woff') format('woff');
}

@font-face {
  font-family: 'SohneWeb';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/SohneWeb-Halbfett.eot');
  src: url('./assets/fonts/SohneWeb-Halbfett.eot#iefix') format('embedded-opentype'), url('./assets/fonts/SohneWeb-Halbfett.woff2') format('woff2'), url('./assets/fonts/SohneWeb-Halbfett.woff') format('woff');
}